<a href="https://colab.research.google.com/github/factorLee/FastCampus/blob/main/Randomforest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Random Forest

In [ ]:
# tree를 여러개 사용하면 비슷한 tree가 만들억질 가능성이 굉장히 높기 때문에 전체적인 모델의 분산이 커질 수 있다.(공분산이 0이 아니기 때문에)
# randomforest를 이용해 변수를 선택한다.
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [ ]:
# 현재경로 확인
os.getcwd()

'/content'

In [ ]:
# 데이터 불러오기
data = pd.read_csv("./otto_train.csv")
data.head()

   id  feat_1  feat_2  feat_3  ...  feat_91  feat_92  feat_93   target
0   1       1       0       0  ...        0        0        0  Class_1
1   2       0       0       0  ...        0        0        0  Class_1
2   3       0       0       0  ...        0        0        0  Class_1
3   4       1       0       0  ...        0        0        0  Class_1
4   5       0       0       0  ...        0        0        0  Class_1

[5 rows x 95 columns]

In [ ]:
'''
id: 고유 아이디
feat_1 ~ feat_93: 설명변수
target: 타겟변수 (1~9)
'''

'\nid: 고유 아이디\nfeat_1 ~ feat_93: 설명변수\ntarget: 타겟변수 (1~9)\n'

In [ ]:
print(data.shape)

(61878, 95)

In [ ]:
nCar = data.shape[0] # 데이터의 칼럼 수
nVar = data.shape[1] # 데이터의 변수의 개수
print(nCar) # 61878개의 데이터가 있고
print(nVar) # 타겟변수포함한 변수가 95개 이다.

61878
95

## 의미가 없다고 판단되는 변수 제거

In [ ]:
# id가 포함되어있기 때문에 id 변수 제거 drop
data = data.drop(['id'], axis=1)

In [ ]:
data.head()

   feat_1  feat_2  feat_3  feat_4  ...  feat_91  feat_92  feat_93   target
0       1       0       0       0  ...        0        0        0  Class_1
1       0       0       0       0  ...        0        0        0  Class_1
2       0       0       0       0  ...        0        0        0  Class_1
3       1       0       0       1  ...        0        0        0  Class_1
4       0       0       0       0  ...        0        0        0  Class_1

[5 rows x 94 columns]

## 타겟 변수의 문자열을 숫자로 변환

In [ ]:
mapping_dict = {'Class_1' : 1,
                'Class_2' : 2,
                'Class_3' : 3,
                'Class_4' : 4,
                'Class_5' : 5,
                'Class_6' : 6,
                'Class_7' : 7,
                'Class_8' : 8,
                'Class_9' : 9
                }

In [ ]:
after_mapping_target = data['target'].apply(lambda x: mapping_dict[x])

In [ ]:
after_mapping_target # !~9로 바뀜

0        1
1        1
2        1
3        1
4        1
        ..
61873    9
61874    9
61875    9
61876    9
61877    9
Name: target, Length: 61878, dtype: int64

## 설명변수와 타겟변수를 분리, 학습데이터와 평가데이터 분리

In [ ]:
# 설명변수와 타겟변수 분리
feature_columns = list(data.columns.difference(['target']))
X=data[feature_columns]
y=after_mapping_target
# 학습데이터와 평가데이터 분리
train_x, test_x, train_y, test_y = train_test_split(X, y, test_size = 0.2, random_state = 42) # 학습데이터와 평가데이터의 비율을 8:2 로 분할| 
print(train_x.shape, test_x.shape, train_y.shape, test_y.shape) # 데이터 개수 확인

(49502, 93) (12376, 93) (49502,) (12376,)

## 학습 데이터를 랜덤포레스트 모형에 적합 후 평가 데이터로 검증

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

clf = RandomForestClassifier(n_estimators=20, max_depth=5,
                             random_state=0) # n_estimators: 트리의 갯수
clf.fit(train_x, train_y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=5, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=20,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [ ]:
predict1 = clf.predict(test_x)
accuracy_score(test_y, predict1)

0.5929217840982547

## 트리를 많이 만들어보는건 어떨까?

In [ ]:
clf = RandomForestClassifier(n_estimators=300, max_depth=5,
                             random_state=0) # n_estimators: 트리의 갯수
clf.fit(train_x, train_y)

predict1 = clf.predict(test_x)
accuracy_score(test_y, predict1)

0.608678086619263

## 그렇다면, 트리의 깊이를 늘려보는건 어떨까?

In [ ]:
clf = RandomForestClassifier(n_estimators=100, max_depth=20,
                             random_state=0) # n_estimators: 트리의 갯수
clf.fit(train_x, train_y)

predict1 = clf.predict(test_x)
accuracy_score(test_y, predict1)

0.7798157724628313

## 그렇다면, 트리의 깊이를 최대로 늘려보자!

In [ ]:
clf = RandomForestClassifier(n_estimators=100, max_depth=100,
                             random_state=0) # n_estimators: 트리의 갯수
clf.fit(train_x, train_y)

predict1 = clf.predict(test_x)
accuracy_score(test_y, predict1)

0.8119747899159664

## 다른 하이퍼파라미터에 대한 정보를 얻고싶으면 링크를 참조
- https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html